.body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 2.5;
    background-size: cover;
}

.gradient-custom-3{
    background: #c0c0c0;
    background-size: cover;
    height: 100%;
}

/* .form{
    background: #f0f0f0;
} */

.card{
    border-radius: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-body{
    background: #e0e0e0;
    border-radius: 17px;
}

.card-body:hover{
    -webkit-box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.43);
    -moz-box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.43);
    box-shadow: 10px 9px 18px 0px rgba(0,0,0,0.43);
}

.input-group{
    margin-top: 23px;
}

/* .btn {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: Arial;
    color: #ffffff;
    font-size: 19px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #6f94d1;
    text-decoration: none;
  } */

  
.btn {
    width: 160px;
    height: 50px;
    position: relative;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    outline: none;
    border: none;
    background-color: #0c0c0c;
    transition: all 0.2s ease;
}
.btn:hover {
    transform: scale(0.96);
    background: #0c0c0c;
    color: #fff;
}
.btn:before,
.btn:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
}
.btn:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #0c0c0c 20%, transparent 30%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #0c0c0c 15%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: topBubbles 1s ease;
}
@keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}
.btn:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #0c0c0c 15%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%),
      radial-gradient(circle, #0c0c0c 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: bottomBubbles 1s ease;
}
@keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}